@import './settings';

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-middle {
  vertical-align: middle;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.floated-links {
  float: right;
  padding: $base-unit-quarter;
}

.floated-links > a {
  margin-left: $base-unit;
}

.display-block {
  display: block;
}

.bottom-space-small {
  padding-bottom: $base-unit-half;
}

.bottom-space-large {
  padding-bottom: $base-unit * 2;
}

.indented {
  margin-left: 20px;
}

.selected {
  background-color: pink !important;
}

.pad-right {
  padding-right: $base-unit-quarter;
}

.pad-left {
  padding-left: $base-unit-quarter;
}

.vertical-align-container {
  display: flex;
  align-items: center;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.invisible {
  visibility: hidden;
}

.error {
  border: 1px solid red;
}

.preserve-space {
  white-space: pre-line;
}

.no-wrap {
  white-space: nowrap;
}

.strike {
  text-decoration: line-through;
}

.hand {
  cursor: pointer;
}

.move {
  cursor: move;
}

.full-width {
  width: 100%;
}

.truncate {
  max-height: $base-unit * 9;
  overflow-y: auto;
  display: block;
}

.extra-spacing {
  padding: 2em;
}

.prewrap {
  white-space: pre-wrap;
}

.close {
  cursor: pointer;
}
