@import './src/styles/settings';

// Common
.bg-lightgreen { background-color: lightgreen; }
.bg-aqua       { background-color: aqua; }
.bg-pink       { background-color: pink; }
.bg-yellow     { background-color: yellow; }
.bg-goldenrod  { background-color: goldenrod; }
.bg-plum       { background-color: plum; }
.bg-aqua    { background-color: aqua; }

button {
  font-size: 16px;
  background-color: #fff;
  margin: 0.15em;
  padding: 0.5em;
  border-radius: 0.25em;
  @include breakpoint(tablet) {
    font-size: 26px;
    background-color: #fff;
    padding: 0.75em;
    border-radius: 0.25em;
  }
}
button.up {
  border: 1px solid lightgreen;
}
button.down {
  border: 1px solid red;
}
button.up-big {
  border: 3px solid lightgreen;
}
button.down-big {
  border: 3px solid red;
}

// Specific
.life-section {
  .edit-name-form {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.95;
    text-align: center;
    z-index: 1000;
    span {
      color: #fdfdfd;
    }
  }
  .header-row {
    font-size: 14px;
    @include breakpoint(tablet) {
      font-size: 24px;
    }
  }
  .header-row button {
    font-size: 10px;
    @include breakpoint(tablet) {
      font-size: 20px;
    }
  }
  .counter-area {
    background: #efefef;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-radius: 0 0 0 1rem;
    font-size: 26px;
    padding-left: 3rem;
    position: absolute;
    top: 0;
    right: -95px;
    transition: right 0.3s ease;
  
    &.active {
      right: 0;
    }
    .counter-area-control-icon {
      cursor: pointer;
      padding: 0.3rem 0.3rem 2rem 0.6rem;
      width: 42px;
      position: absolute;
      top: 0;
      left: 0;
      @include breakpoint(tablet) {
        padding: 0.6rem 0.6rem 2rem;
      }
    }
    @include breakpoint(tablet) {
      right: -167px;
    }
  }
  .counter-sections {
    width: 95px;
    @include breakpoint(tablet) {
      height: auto;
      width: 155px;
      max-height: 216px;
      overflow-y: scroll;
    }
  }
  .align-content {
    cursor: pointer;
    font-size: 124px;
    line-height: 1.0;
    @include breakpoint(tablet) {
      font-size: 158px;
    }
  }
  .life-section {
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
  }
  .double-col-row > section > span {
    padding-right: 1.5rem;
  }
  .low-players .life-section button {
    padding: 1.25em;
  }
}

.counter-sections {
  text-align: center;
  width: 95px;
  height: 40px;
  @include breakpoint(tablet) {
    width: 155px;
    height: 68px;
  }
  .choose-color-section {
    text-align: center;
    width: 95px;
    height: 40px;
    @include breakpoint(tablet) {
      width: 155px;
      height: 68px;
    }
  }
  .counter-count {
    width: 40px;
  }
  .color-chooser {
    padding: 0;
    margin: 0 2px;
    height: 30px;
    width: 50px;
    border: none;
    @include breakpoint(tablet) {
      height: 50px;
    }
  }
  button {
    font-size: 10px;
    padding: 0.25em;
    margin: 0 0.25em;
    @include breakpoint(tablet) {
      font-size: 16px;
    }
  }
}
