@import './src/styles/settings';
@import './src/styles/typography';
@import './src/styles/state';

// All base / normalize styles here

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-black;
  background-color: #242424;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
  margin: 0;
  position: relative;
}

a {
  color: $color-white;
  text-decoration: none;
  transition: $transtion-drawer;
}

h1, h2, h3, h4, h5, h6, p, dl, ol, table {
  margin-top: 0;
  margin-bottom: $base-unit-half;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    font-family: $base-font-family-bold;
  }
  button {
    background-color: #f9f9f9;
  }
}

dd {
  margin-left: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

table {
  @extend %text-small;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead tr {
  font-family: $base-font-family-bold;
}

td,
th {
  padding: $base-unit-half $base-unit-quarter;
  border: 1px solid #ccc;
  position: relative;
  text-align: left;
  vertical-align: top;
  word-wrap:break-word;
}

input[type=checkbox] {
  width: auto;
  transition: box-shadow 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: $base-unit-half;
}

// Fixes bug/feature in Firefox that makes :invalid fields glow
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}
