@import './src/styles/settings';

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}
main {
  padding-top: $header-height;
  z-index: $layer-main-body;
  height: 100%;
}

#lifetracker,
#app-container,
.main-content-lifetracker  {
  height: 100%;
  position: relative;
}
